* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #36213E;
    font-family: "Lato", sans-serif;
    font-size: 120%;
}

.heading {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 250%;
    margin-bottom: 1vh;
    color: #e6ebe0;
}
.logo {
    margin-top: 10px;
    width: 75px;
}

.box {
    border-radius: 25px;
    padding: 10px;
    /* credits to  https://www.w3schools.com/css/css3_shadows_box.asp for the dropshadow effect*/
    box-shadow: 0.3em 0.3em 0.3em 0.1em #202020;
}
.playerscore-box {
    width: 11%;
    height: 100px;
    float: left;
    margin-left: 4vw;
    background-color: #e6ebe0;
}

.game-box {
 background-color: #e6ebe0;
 width: 60%;
 height: 80vh;
 margin: 0 auto;
}

.leaderboard-box {
    width: 11%;
    height: 80vh;
    float: right;
    margin-right: 8vh;
    background-color: #e6ebe0;
}