* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    background-color: #36213E;
    font-family: "Lato", sans-serif;
    font-size: 120%;
}
.heading {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 250%;
    margin-bottom: 1vh;
    color: #e6ebe0;
}
.logo {
    margin-top: 20px;
    width: 75px;
}
.box {
    border-radius: 25px;
    padding: 15px;
    /* credits to  https://www.w3schools.com/css/css3_shadows_box.asp for the dropshadow effect*/
    box-shadow: 0.3em 0.3em 0.3em 0.1em #202020;
}
.playerscore-box {
    width: 11%;
    height: 200px;
    float: left;
    margin-left: 3vw;
    background-color: #e6ebe0;
    visibility: hidden;
}
.player-data {
    margin-top: 3px;
    margin-left: 3px;
}
.player-data h3 {
    margin-top: 10px;
}
.game-box {
    background-color: #e6ebe0;
    width: 60%;
    height: 75vh;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
#greeting-area {
    width: 100%;
    margin: 0 auto;
}
#greeting-header {
    font-size: 2rem;
    padding-top: 5vh;
}
#greeting-text {
    padding: 2vh 5vw;
    font-size: 1.4rem;
} 
.lead-box {
    width: 13%;
    height: 47vh;
    float: right;
    margin-right: 2vw;
    background-color: #e6ebe0;
    position: relative;
}
#lead-header {
    font-size: 1.7rem;
}
.lead-subheader{
    font-size: 1.2rem;
}
.lead-listing {
    line-height: 4vh;
    font-size: 1.1rem;
}
.lead-listing span {
    padding-left: 1vw;
}
#lead-position {
    width: 33%;
    float: left;
}
#lead-score {
    width: 33%;
    float: right;
    text-align: right;
}
#lead-name {
    width: 33%;
    margin: 0 auto;
}
.lead-left {
    width: 33%;
    float: left;
}
.lead-right {
    width: 33%;
    float: right;
    text-align: right;
}
.lead-mid {
    width: 33%;
    margin: 0 auto;
    text-align: left;
}
.game-area{
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.riddle-icon {
    width: 350px;
    height: 350px;
    margin: 4vh 4vw;
}
.gametext {
    padding: 5px 0 0;
    margin-bottom: 1vh;
}
#riddle-text {
    margin: 0 2vw;
    font-size: 1.5rem;
}
#username-input-area {
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
    position: absolute;
    bottom: -3vh;
    left: 50%;
    transform: translate(-50%, -50%);
}
#uname-input {
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
}
#answer-area {
    height: 4vh;
}
.btn {
    display: inline-block;
    font-family: "Josefin sans", sans-serif;
    font-size: 1.5rem;
    padding: 15px 25px;
    width: 10vw;
    height: 5vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    background-color: rgb(47, 119, 47);
    color: #e6ebe0;
}
#start-btn {
    padding: 25px 50px;
    font-size: 2rem;
    margin-top: 3vh;
    background-color: rgb(47, 119, 47);
    color: #e6ebe0;
}
#skip-btn {
    background-color: #FBA115;
}
#forfeit-btn {
    background-color: darkred;
}
#start-btn:hover {
    background-color: rgb(60, 153, 60);
    cursor: pointer;
}
#answer-btn:hover {
    background-color: rgb(60, 153, 60);
    cursor: pointer;
}
#skip-btn:hover {
    background-color: #fdb239;
}
#forfeit-btn:hover {
    background-color: rgb(185, 7, 7);
}
#next-btn:hover {
    background-color: rgb(60, 153, 60);
    cursor: pointer;
}
#icon-credit {
    text-decoration: none;
    color: #36213E;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
#icon-credit:hover {
    text-decoration: underline;
    cursor: pointer;
}
/* Button disabled psuedoclass from https://stackoverflow.com/questions/14750078/style-disabled-button-with-css by user beerwin */
.btn:disabled {
    background-color: rgb(104, 104, 104) !important;
    color: #fdfdfd !important;
    opacity: 0.5;
}